---
import PrayEllipse from '~/components/ui/PrayEllipse.astro';
import { Icon } from 'astro-icon/components';

interface Props {
  title?: string;
  content?: string;
  buttonText?: string;
  href?: string;
  bgTheme?: 'image' | 'solid';
  uniqueId?: string;
}

const { title, content, bgTheme = 'image', buttonText, href, uniqueId } = Astro.props;

const handleAnimationFinished = () => {
  const titleContainer = document.querySelector('.title-container') as HTMLElement;
  const prayerContainer = document.querySelector('.prayer-container') as HTMLElement;
  if (!titleContainer || !prayerContainer) return;
  titleContainer.style.transform = 'scale(0.5)';
  prayerContainer.style.height = 'calc(100vh - 66px)';
  prayerContainer.style.transform = 'translateY(0)';
};
---

<div class='container' data-bg-theme={bgTheme}>
  <div class='header'>
    <img class='avatar' id='userAvatar' />
    <span class='from-text'>From</span>
    <span class='name' id='userName'></span>
    <Icon name='tabler:chevron-right' class='w-5 h-5 text-gray-400' />
    <div class='close-icon' id='closeIcon'>
      <Icon name='tabler:x' class='w-5 h-5' />
    </div>
  </div>
  <div class='title-container' id='title-container'>
    <div class='title'>{title}</div>
    <div id='prayer-ellipse' style='display: none;'>
      <PrayEllipse onAnimationFinished={handleAnimationFinished} shouldAnimate={true} />
    </div>
  </div>
  <div class='prayer-container' id='prayer-container'>
    <div class='prayer-content' data-page-id={uniqueId}>
      {content}
    </div>
    <div class='btn-container'>
      <a class='btn' id='prayButton' href={href} data-page-id={uniqueId}>{buttonText}</a>
    </div>
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .header {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    background: #fbfaf3;
    padding: 16px;
  }
  .avatar {
    width: 24px;
    height: 24px;
    background: #e2e2e2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }

  .from-text {
    color: #000;
    font-size: 14px;
  }

  .name {
    color: #000;
    font-size: 14px;
    font-weight: 500;
  }

  .close-icon {
    margin-left: auto;
    background: #c2c1c0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
  }

  .from-text {
    color: #666;
    font-size: 14px;
  }

  .container[data-bg-theme='image'] {
    background-image: url('~/assets/images/pray-bg.png');
  }

  .container[data-bg-theme='solid'] {
    background-color: #ece9e2;
  }

  .title-container {
    flex: 1;
    position: relative;
    width: 300px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
  }
  .title {
    text-align: center;
    font-size: 50px;
    font-family: 'BeautiqueDisplayCondensed', sans-serif;
    font-weight: 500;
    font-style: italic;
    color: #333;
    animation: fadeIn 1s ease-in-out;
  }
  #prayer-ellipse {
    position: absolute;
    left: 0;
    right: 0;
  }
  .prayer-container {
    transform: translateY(100vh);
    height: 0;
    overflow-y: scroll;
    transition: all 0.5s ease-in-out;
    padding: 20px;
    width: 100%;
  }
  .prayer-content {
    font-size: 19px;
    font-family: 'Lora', sans-serif;
    font-weight: 500;
    color: #333;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  }

  .btn-container {
    padding: 45px 28px;
  }

  .btn {
    font-family: 'Jost', sans-serif;
    width: 100%;
    background: #222;
    color: white;
    border: none;
    padding: 14px 12px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    display: block;
    text-align: center;
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const prayerContent = document.querySelector('#prayer-ellipse') as HTMLElement;
    if (!prayerContent) return;

    prayerContent.style.display = 'block';
  });

  document.getElementById('closeIcon')?.addEventListener('click', () => {
    window.location.href = '/';
  });
</script>
